/* set my own variables */
.theme-dark {
  /* ==highlights== */
  --text-highlight-bg: darkorchid;
  /* active sidebar item */
  --nav-item-background-active: #560788;
  /* background*/
  --background-primary-alt: #3A404A;
}

/* Edit mode */
.cm-s-obsidian pre.HyperMD-codeblock {     
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;

}

/* Preview mode */
.markdown-preview-view code {
  font-size: 18px;
  font-weight: 800;
  border-radius: 10px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;

}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  font-size: 18px;
  font-weight: 600;
  padding-top: 0rem;

}


/* Edit mode */
.cm-inline-code {     
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Preview mode */
.cm-inline-code {
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;

}


/* don't flash when a file is opened / gets focus */
.is-flashing {
  transition: none;
  background-color: inherit;
}


/* padding around highlights */
.cm-s-obsidian span.cm-highlight,
.markdown-preview-view mark {
  padding: 2px;
}


/* centered images */
img {
  margin: 0 auto;
  display: block;
}

/* indentation guides */
.markdown-rendered.show-indentation-guide li>ul::before,
.markdown-rendered.show-indentation-guide li>ol::before {
  /* place right in the middle of the bullet in reader mode */
  left: -1.04em;
}

.markdown-source-view.mod-cm6 .cm-indent::before {
  /* center guide in markdown mode */
  /* left: 0.3em; */
}


/* remove leading padding in code block editing within callouts */
.cm-line.HyperMD-quote .cm-indent::before {
  display: none;
}

/* hide "Metadata" header */
.frontmatter-container-header {
  display: none !important;
}

/* format metadata box */
.frontmatter-container {
  /* nice background box */
  background-color: var(--background-primary-alt);
  /* reduce bottom padding */
  padding: var(--size-4-2) 0 var(--size-4-2) 5px;
  border-radius: 12px;
}

.frontmatter-section {
  /* float off the side a bit */
  margin-left: 5px;
}

/* remove padding on the last element in a callout, which makes it look more even */
.callout-content> :last-child {
  margin-block-end: 0;
}
